*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato";
}

.center{
    max-width: 1100px;
    padding:0 2%;
    margin: auto;
}

.clear{clear: both;}

header{
    background-color: #3b5998;
    padding: 8px 0;
}

.logo{
    float: left;
    color: white;
}

.logo h2{
    font-size: 29px;
    font-weight: normal;
}

form.form-login{
    float: right;
}

.form-login .form-element{
    display: inline-block;
    margin-right: 15px;
    
}

.form-element p {
    color: white;
    font-size: 14px;
}

.form-element input[type=email],
.form-element input[type=password]{
    margin-top: 5px;
}

.form-element input[type=submit]{
    cursor: pointer;
    border: 0;
    background:  #4e6db1;
    border:2px solid #3b5998;
    color: white;
    padding: 3px 5px;
}

.form-element input[type=submit]:hover{
    background:#3b5998;
}
