*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato";
}

.center{
    max-width: 1100px;
    padding:0 2%;
    margin: auto;
}

.clear{clear: both;}

header{
    background-color: #1877f2;
    padding: 8px 0;
}

.logo{
    float: left;
    color: white;
}

.logo h2{
    font-size: 29px;
    font-weight: normal;
}

form.form-login{
    float: right;
}

.form-login .form-element{
    display: inline-block;
    margin-right: 15px;
    
}

.form-element p {
    color: white;
    font-size: 14px;
}

.form-element input[type=email],
.form-element input[type=password]{
    margin-top: 5px;
    border-radius: 4px;
    border: 0;
    height: 22px;
    padding-left: 3px;
}

.form-element input[type=submit]{
    cursor: pointer;
    border: 0;
    background:  rgb(117, 161, 255);
    border:2px solid #1877f2;
    color: white;
    padding: 3px 5px;
    border-radius: 10px;
}

.form-element input[type=submit]:hover{
    background:#1877f2;
}

section.main{
    background: white;
    padding: 40px 0;
}

.img-pessoa{
    float: left;
    width: 60%;
}

.img-pessoa img{
    max-width: 100%;
}

.abrir-conta{
    width: 40%;
    float: right;
}

.abrir-conta h2{
    color: black;
    font-size: 35px;
}

.abrir-conta h3{
    font-size: 19px;
    color: rgb(30,30,30);
    margin-top: 8px;
    font-weight: normal;
}

form.criar-conta{
    margin-top: 10px;
}

.w50{
    width: 50%;
    padding: 0 5px;
    float: left;
}

.w100{
    width: 100%;
    padding: 0 5px;
    float: left;
}

form.criar-conta input{
    width: 100%;
    margin-top: 8px;
}

form.criar-conta input[type=email],
form.criar-conta input[type=password],
form.criar-conta input[type=text]{
    height: 40px;
    padding-left: 10px;
    border: 1px solid #a5dbff;
    border-radius: 10px;
    font-size: 20px;
}

form.criar-conta input[type=submit]{
    height: 40px;
    background: #1877f2;
    color: white;
    cursor: pointer;
    border: 0;
    max-width: 200px;
    font-size: 19px;
    border-radius: 10px;
}

form.criar-conta input[type=submit]:hover{
    background: #a5dbff;
    color: black;
    border-color: #1877f2;
    
}
form .w100 h2{
    margin-top: 10px;
    color: rgb(92, 92, 92);;
    font-size: 22px;
    font-weight: normal;
}

form select.nascimento{
    float: left;
    border-radius: 10px;
    border-color: #a5dbff;
}

.input-radio{
    margin: 10px 10px;
    float: left;
}

.input-radio h2{
display: inline-block;

}

.input-radio input[type=radio]{
    width: auto !important;
    display: inline-block;
}

section.idiomas{
    padding: 30px 0;
    background-color: white;
}

section.idiomas .center{
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;  
}

section.idiomas a {
    padding-right: 10px;
    font-size: 12px;
    color: #1877f2;
    text-decoration: none;
}

section.idiomas a.selected-idioma{
    color: #868686;
}
section.links{
    padding: 30px 0;
    background-color: white;
}

section.links .center{
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;

}

section.links a {
    padding-right: 10px;
    font-size: 12px;
    color: #868686;
    text-decoration: none;
}

section.links a:hover {
   color: #1877f2;
}